{
  "port": 8443,

   "cli_log_level": "http",
   "file_logging": false,
   "file_log_level": "info",

   "admin_password": "PLACE PASSWORD HERE",

  "token_expiry_seconds": 3600,
  "jwt_secret": "PLACE SECRET HERE",

  "thermocontrol_mock": true,
  "thermocontrol_polling_rate": 300,
  "thermocontrol_url": "http://10.0.2.2:9079",
  "thermocontrol_key": "1234",

  "thermocontrol_aux_mock": true,
  "thermocontrol_aux_polling_rate": 1000,
  "thermocontrol_aux_url": "http://10.0.2.2:9080",

  "kaleidoscope_mock": true,
  "kaleidoscope_polling_rate": 300,
  "kaleidoscope_url": "http://10.0.2.2:3545"
}