{
    "thermocontrol_polling_rate": 300,
    "thermocontrol_url": "http://1.2.3.4:9079",
    "thermocontrol_key" : "password",
    "kaleidoscope_polling_rate": 300,
    "kaleidoscope_url": "http:/1.2.3.4:3545"
  }